input[type="search"] {
  width: 30%;
  border-radius: 12px;
  border: none;
  padding: 4px 10px 4px 28px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
  outline: none;
  background: #ffffff url(https://d3dma7a8zw52bz.cloudfront.net/assets/icons/icon_search-c63838f7f93923e5c3b2f23cbb058323.png) no-repeat 10px center;
}
input[type="search"]:focus {
  box-shadow: 0 0 4px 1px #f8d783;
}
form {
  padding: 2em;
}
form label strong {
  display: inline-block;
  text-align: right;
  width: 30%;
  margin-right: 2em;
}
form .leftColumn {
  float: left;
  width: 50%;
}
form .rightColumn {
  float: right;
  width: 50%;
}
form .submitForm {
  clear: both;
}
input[type="button"]:active {
  -moz-box-shadow: 0 2px 6px black;
  -webkit-box-shadow: 0 2px 6px black;
}
