.sidebar {
  float: right;
  width: 30%;
}
.sidebar .filter_block {
  margin: 1em 1em 1em 0;
  padding: 1em;
  background: rgba(0, 179, 81, 0.19999999999999996);
  border-radius: 6px;
}
.sidebar .filter_block h2 {
  color: #00b351;
  font-size: 1.3em;
  font-weight: normal;
  margin: 0 0 0.6em 0;
}
.sidebar .filter_block input {
  width: 100%;
}
