{% extends "base.html" %}
{% block title %}Добавить вакансию{% endblock %}
{% block content %}
  <script type="text/javascript" src="/static/js/init.js"></script>
  <script type="text/javascript" src="/static/js/jquery.loadJSON.js"></script>
  <h1>Добавить вакансию</h1>
  <form type="POST" name="add_job" action="" id="addjobform">
    <input type="hidden" name="objectid" id="oidinput" value="{% print job %}"/>
    <!-- Vacancy -->

    <p>
      <label>Вакансия: <input type="text" name="title"></label>
    </p>
    <p>
      <label>Категория:
        <select name="category">
          <option value="frontend">Фронтенд</option>
          <option value="backend">Бэкенд</option>
          <option value="applications">Приложения</option>
          <option value="administration">Администрирование</option>
          <option value="management">Управление</option>
          <option value="design">Дизайн</option>
          <option value="testing">Тестирование</option>
          <option value="other">Другое</option>
        </select>
    </label>
    </p>
    <p>
      <label>Занятость:
        <span><input type="radio" name="employment" value="full_time" checked="checked"> полная</span>
        <span><input type="radio" name="employment" value="part_time"> частичная</span>
      </label>
    </p>
    <p>
      <label>Рабочее место:
        <span><input type="radio" name="workplace" value="office" checked="checked"> офис</span>
        <span><input type="radio" name="workplace" value="remote"> удаленно</span>
      </label>
    </p>
    <p>
      <label>Краткое описание:
        <textarea name="description"></textarea>
      </label>
    </p>
    <p>
      <label>Что нужно делать:
        <textarea name="charge"></textarea>
      </label>
    </p>
    <p>
      <label>Требуемые навыки:
        <textarea name="experience"></textarea>
      </label>
    </p>
    <p>
      <label>Приветствуется:
        <textarea name="additional"></textarea>
      </label>
    </p>
    <p>
      <label>Условия:
        <textarea name="terms"></textarea>
      </label>
    </p>

    <div class="rightColumn">

    <!-- Company -->
      <p>
        <label>Компания: <input type="text" name="company_name"></label>
      </p>
      <p>
        <label>Описание:
          <textarea name="company_description"></textarea>
        </label>
        <span>ограничение 140 символов</span>
      </p>
      <p>
        <label>Лого: <input type="file" name="company_logo"></label>
      </p>

      <!--  Other fields -->
      <p>
        <label>Город: <input type="text" name="city"></label>
      </p>
      <p>
        <label>Адрес: <input type="text" name="address"></label>
      </p>
      <p>
        <label>Имя автора: <input type="text" name="author"></label>
      </p>
      <p>
        <label>Эл. почта: <input type="text" name="email"></label>
      </p>
      <p>
        <label>Промо-код: <input type="text" name="promo_code"></label>
      </p>

    </div>

    <!--  Submit -->
    <p>
      <input type="submit" value="Предпросмотр" >
    </p>

  </form>
      <input type="button" value="Add" id="addjobbutton">
      {% endblock %}

