{% extends "base.html" %}
{% block title %}Квик Хант{% endblock %}
{% block content %}
  <div class="search">
    <a class="icon_favorite" href="/favorites"><!--<span class="badge">4</span>--></a>
    <input id="search" type="search" placeholder="Search" />
  </div>

  <!--<div class="visual_search"></div>-->
  <div id="search_query">&nbsp;</div>

  <script type="text/javascript" charset="utf-8">

  </script>

  <div class="jobs">

    <div class="jobs_list">
      {% raw %}
      <script id="job_template" type="text/x-handlebars-template">
        {{#each jobs}}
          <ul data-jobid={{_id}} class="job {{special}}">
            <li class="favorite">
              <a class="icon_favorite off" href=""></a>
            </li>
            <li class="icon">
              <div class="icon">
                <img src="{{company_logo}}" alt="{{company_name}}" width="50" height="50">
              </div>
            </li>
            <li>
              <a class="title" href="/jobs/{{_id}}">{{title}}</a>
              <span class="company">{{company_name}}</span>
            </li>
            <li class="salary price">{{salary}} &#8399;</li>
            <li>{{city}}</li>
          </ul>
        {{/each}}
      </script>
      {% endraw %}
    </div>

    <div class="control">
      <a href="">ещё</a> или <a href="">избранное</a>
    </div>

  </div>

  <div class="sidebar">
    <div class="filter_block">
      <h2>Найти вакансию</h2>
      <input type="text" name="" id="">
      на <input type="checkbox" name="" id=""> полный/частичный рабочий день
      в <input type="checkbox" name="" id=""> офис/удаленно
      с зарплатой <input type="text" name="" id=""> ... <input type="text" name="" id="">
      <select name="" id="">
        <option value="">Руб.</option>
      </select>
      в <input type="text" name="" id="">
    </div>
  </div>
{% endblock %}
