{% extends "base.html" %}
{% block title %}Добавить вакансию{% endblock %}
{% block content %}
  <div class="inside">
    <div class="meta">
      <a class="icon_favorite" href="/favorite"></a>
      <span>{{job.city}}</span>
      <span>{{job.employment}}</span>
      <span>{{job.workplace}}</span>
    </div>
    <div>
      <a class="icon_favorite" href="/favorite"></a>
      <h2>{{job.title}}</h2>
    </div>
    <div>
      {% if job.description %}
        {{job.description}}
      {% endif %}
      {% if job.charge %}
        <h3>Обязанности</h3>
        {{job.charge}}
      {% endif %}
      {% if job.experience %}
        <h3>Навыки</h3>
        {{job.experience}}
      {% endif %}
      {% if job.additional %}
        <h3>Приветствуется</h3>
       {{job.additional}}
      {% endif %}
      {% if job.terms %}
        <h3>Условия</h3>
        {{job.terms}}
      {% endif %}
    </div>
    <form action="">
      <input type="submit" value="Ответить">
    </form>
  </div>

  <div class="sidebar">
    <h2><a href="{{job.company_site}}">{{job.company_name}}</a></h2>
    <p><img style="border: 1px solid red;" width="150" height="150" src="{{job.company_logo}}" alt="{{job.company_name}}" /></p>
    <p>{{job.company_description}}</p>
    <div id="map" style="width: 180px; height: 180px"></div>
  </div>

{% endblock %}
