<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
  {% block head %}
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="/static/css/libs/normalize.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script data-main="/static/js/config" type="text/javascript" src="/static/js/libs/require.js"></script>
  {% endblock %}
</head>
<body>
  <div class="wrapper">

    <div class="header">
      <div class="add_vacancy"><input type="button" value="Добавить вакансию"> <span>500 рублей</span></div>
      <h1 class="logo">Квик Хант <a href="/login/">войти</a></h1>
      <div class="languages">
        <a class="selected" href="/ru/">RU</a>
        <a href="/en/">EN</a>
      </div>
    </div>

    <div class="content">{% block content %}{% endblock %}</div>
    <!--<div class="footer">
      {% block footer %}
        &copy; 2012...2013 &laquo;<a href="mailto:mail@quickhunt.ru">Квик Хант</a>&raquo;
      {% endblock %}-->
    </div>

  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</body>
</html>
