{% extends "base.html" %}
{% block title %}Квик Хант{% endblock %}
{% block content %}
  <div class="search">
    <!-- <svg>
      <polygon points="24,10 250,190 160,24" style="fill: #000;stroke-width:1;" />
    </svg> -->

    <!-- <a class="favorites" href="/favorites"><span class="badge">4</span></a> -->
    <input type="search" placeholder="Search" />
  </div>
  <div class="jobs">

    <div class="job job_special">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon">
          <img src="static/img/yandex.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">Проектироващик интерфейсов</span>
          <span class="company">Yandex</span>
        </div>
        <div class="salary"><span class="price">70&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Москва</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite favorite_selected" href=""></a>
      <a href="" class="job">
        <div class="icon" style="background: #d82232; border: none;">
          <img src="static/img/parallels.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">Разработчик на ObjectiveC</span>
          <span class="company">Parallels</span>
        </div>
        <div class="salary"><span class="price">65&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Петропавловск-Камчатский</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon">
          <img src="static/img/lingualeo.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">JavaScript-разработчик</span>
          <span class="company">LinguaLeo</span>
        </div>
        <div class="salary"><span class="price">90&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Москва</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon" style="background: #fe0000; border: none;">
          <img src="static/img/mtv.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">PHP-программист</span>
          <span class="company">MTV</span>
        </div>
        <div class="salary"><span class="price">70&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Санкт-Петербург</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon" style="background: #004b88; border: none;">
          <img src="static/img/mailru.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">Разработчик на PHP</span>
          <span class="company">Mail.ru</span>
        </div>
        <div class="salary"><span class="price">65&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Симферополь</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite favorite_selected" href=""></a>
      <a href="" class="job">
        <div class="icon">
          <img src="static/img/yandex.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">Проектироващик интерфейсов</span>
          <span class="company">Yandex</span>
        </div>
        <div class="salary"><span class="price">70&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Москва</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon">
          <img src="static/img/lingualeo.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">JavaScript-разработчик</span>
          <span class="company">LinguaLeo</span>
        </div>
        <div class="salary"><span class="price">90&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Владивосток</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon" style="background: #d82232; border: none;">
          <img src="static/img/parallels.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">Разработчик на ObjectiveC</span>
          <span class="company">Parallels</span>
        </div>
        <div class="salary"><span class="price">65&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Москва</div>
      </a>
    </div>

    <div class="job">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon" style="background: #004b88; border: none;">
          <img src="static/img/mailru.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">Разработчик на PHP</span>
          <span class="company">Mail.ru</span>
        </div>
        <div class="salary"><span class="price">65&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Москва</div>
      </a>
    </div>


    <div class="job">
      <a id="favorite" class="favorite" href=""></a>
      <a href="" class="job">
        <div class="icon" style="background: #fe0000; border: none;">
          <img src="static/img/mtv.png" alt="" width="50" height="50">
        </div>
        <div class="main">
          <span class="title">PHP-программист</span>
          <span class="company">MTV</span>
        </div>
        <div class="salary"><span class="price">70&nbsp;000&nbsp;&#8399;</span></div>
        <div class="location">Москва</div>
      </a>
    </div>

    <div class="control">
      <p><a href="">ещё</a> или <a href="">избранное</a></p>
    </div>



  </div>
{% endblock %}
